*{
    padding: 0px;
    margin: 0px;
}

body{
	width: 786px !important;
    padding: 0;
    background-color: white;
}
.titulo_bloco{
  background-color: #2222;
}
.titulo_bloco td{
}
.cadastro{
	position: absolute;
    position: relative;
    padding: 10px 0px;
    height: 178px;
    width: 552px;
	float: left;
	border: solid 1px #ddd;
	margin-top: -6px;
	float: left;
}
.endereco_bloco{
    border: solid 1px #ddd;
    float: left;
    margin-top: 3px;
    width: 554px;
}
.form1{
	height: 555px;
	padding: 5px 0;
	position: relative;
	width: 589px;
}
.caixa_texto1{
}
#nome_social{
	width: 77%;
	height: 25px;
	font-family: Arial;
	font-size: 16px;
	margin-left: 11px;
}
#nome_fantasia1{
	width: 77%;
	height: 25px;
	font-family: Arial;
	font-size: 16px;
	margin-left: 5px;
}
#cnpj_cpf_caixa{
	width: 35%;
	height: 25px;
	font-family: Arial;
	font-size: 16px;
	text-align: left;
	margin-left: 5px;
}
#incricao_estadual{
	width: 150px;
	height: 25px;
	font-family: Arial;
	font-size: 16px;
}
#nome_fantasia_texto{
	width: 105px;
}
#cnpj_cpf_texto{
	text-align: right;
	margin-left: 5px;
}
#label_escricao_Estadual{
	max-width: 210px;
	text-align: right;
	width: 84px;
	padding: 0;
}
.caixa_texto{
    border: solid 1px #ddd !important;
}
.texto{
    width: 100px;
    margin-top: 22px;
    text-align: right;
    font-weight: 70;
}
.titulo{
	margin-top: 20px;
	margin-bottom: 0px;
}
.form2{
	position: relative;
	margin-top: 19px;
	padding: 15px 0;
	height: 327px;
}
#avenida{
	float: left;
	margin-top: 16px;
}
#rua_Avenida{
	margin-top: 16px;
	float: left;
	width: 325px;
	margin-left: 12px;
}
#numero_text{
	text-align: right;
	width: 45px;
	margin-top: 0 !important;
}
#numero{
	margin-top: 18px;
	width: 50px;
	margin-right: 15px;
}
#complemento{
	margin-left: 7px;
	width: 43%;
}
#bairro_text{
	text-align: left;
	width: 49px;
}
#bairro{
	width: 140px;
}
#zona_text{
	text-align: right;
	width: 80px;
	margin-left: 22px;
}
.local .opcao{
	height: 30px;
}
.opcao{
	margin-left: 5px;
	width: 70px;
	height: 24px;
}
.caixa_texto{
    height: 25px;
    font-size: 15px;
    width: 58px;
}
#uf_text{
	text-align: left;
	width: 25px;
}
#uf{
	width: 35px;
}
#municipio{
	margin-left: 12px;
}
#cep_text{
	text-align: left;
	width: 35px;
}
#cep{
	width: 80px;
}
#municipio_text{
	text-align: left;
	width: 72px;
}
.municipio{
	width: 100px;
	height: 25px;
}
.for2{
	/*! margin-left: 598px !important; */
	position: absolute;
	height: auto;
	width: 756px;
	/*! padding: 10px 0px; */
	/*! margin-top: -557px; */
}
.contato{
	padding: 0px 0;
/*	background-color: dimgrey;*/
}
#titulo_txt{
	width: auto;
}
#funcao_text{
    width: 55px;
}
#funcao_caixa{
}
.caixa_reponsavel{
}
#tel_text{
	margin-left: 7px;
}#tel_caixa{
	width: 150px;
}
#Cel_text{
    width: auto;
	margin-top: 5px;
    margin-left: 1px !important;
}#Cel_caixa{
	width: 150px;
}
#Whats_text{
	width: auto;
	margin-left: 17px !important;
}
#Whats_caixa{
	width: 155px;
}
#email_text{
	width: auto;
	margin-left: 62px
}#email_caixa{
    width: 290px;
    margin-left: 0px;
}
#confirm_text{
	width: 50px;
}
.bt_cas{
	border: 1px solid #ddd !important;
	background-color: #ffffff;
	margin-right: -2px;
}
.table{
	margin-bottom: 0 !important;
}
.table-wrapper-scroll-y {
	display: block;
}
.my-custom-scrollbar {
    position: static;
    height: 200px;
    overflow: auto;
}
.dtHorizontalExampleWrapper {
max-width: 600px;
margin: 0 auto;
}
#dtHorizontalExample th, td {
white-space: nowrap;
}

#bt_gravar {
    /*! margin-left: 32px !important; */
}
#bloco_lista{
	position: relative;
	margin-top: 30px;
	width: 100%;
	padding: 0;
}
#AG_digito{
	width: 72px;
	margin-top: 5px;
	margin-left: 8px;
}
.infor_txt{
}
.infor{
	background-color: white;
	margin-top: 15px;
	height: auto;
	width: 719px;
	border: solid 1px #bebebe;
}
.result_text{
	background-color: whitesmoke;
	margin-left: 10px;
	width: 97%;
	height: auto;
}
.form3{
	/*! margin-top: 9px; */
	/*! height: 156px; */
	width: 755px;
	position: absolute;
	margin-left: 280px;
	margin-top: 386px;
}
#titulo{
	width: auto;
}
#banco_text{
	width: 50px;
}
#banco_caixa{
	width: 191px;
}
#conta_texto{
	width: 50px;
}
#conta_caixa{
	width: 70px;
}
#digito_text{
	width: 5px;
	font-weight: bold;
}
#digito1_caixa{
    width: 32px;
}
}#digito2_caixa{
	width: 43px;
}
#op_text{
	width: 30px;
}
#op_caixa{
	width: 55px;
}
#agencia_texto{
	width: 65px;
}
#agencia_caixa{
	width: 72px;
}
#digito_texto{
	width: 5px;
	font-weight: bold;
}
button.btn.botao_inf {
    margin-top: 15px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-left: -17px;
    margin-right: 15px;
    margin-bottom: 10px;
}
#bt_gravar{
        /*! margin-left: 8px; */
}
.botao{
	float: right;
	background: none;
    border: 1px solid #0b0a0a !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    height: 39px !important;
    margin-top: 6px !important;
    border-radius: 22px !important;
    width: 133px !important;
    padding: 5px 20px !important;
    text-align: left !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
}
.teste{
    position: ;
    display: inline-grid;
    margin-left: 775px;
    position: absolute;
    margin-top: 0%;
}
img{
	vertical-align: middle;
    margin-right: 10px;
}
